body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.todo-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}
.todo-container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  color: teal;
  font-style: italic;
}
.todo-container input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  outline: none;
}
.todo-container input:focus {
  border-color: #4b89ff;
}
.todo-container .changable-btn {
  padding: 10px 15px;
  background-color: skyblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.todo-container .changable-btn:hover {
  background-color: rgb(51, 113, 138);
  font-weight: 500;
}
.todo-container ul {
  list-style: none;
  padding: 0;
}
.todo-container li {
  background: #fafafa;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eee;
}
.todo-container .del-btn {
  padding: 9px 10px;
  margin-left: 5px;
  font-size: 14px;
  border-radius: 4px;
  background-color: rgb(202, 197, 197);
  border: none;
  color: black;
}
.todo-container .del-btn:hover {
  background-color: rgb(158, 154, 154);
}
.todo-container .edit-btn {
  padding: 9px 10px;
  margin-left: 5px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  background-color: rgb(212, 236, 156);
}
.todo-container .edit-btn:hover {
  background-color: rgb(173, 207, 104);
}
.list-aria {
  max-height: 250px;
  overflow-y: auto;
  margin-top: 15px;
  padding-right: 5px;
}
